<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr><th>#</th>
                <th>상위 분류명</th>
                <th>원료명</th>
                <th>상세 분류명</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="feed : ${feeds}">
                <td th:text="${feed.feed_id}"></td>
                <td th:text="${feed.upperFeedClCode}"></td>
                <td th:text="${feed.feedClCode}"></td>
                <td th:text="${feed.feedClCodeNm}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>