<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:object="${boardForm}" method="post" enctype="multipart/form-data">

        <label for="title">제목</label>
        <input type="text" th:field="*{title}" class="form-control" id="title"
               placeholder="제목을 입력하세요">

        <div class="form-group">
            <label for="feeds">카테고리</label>
            <select name="feeds" id="feeds" class="form-control">
                <option th:value="${originFeed.feed_id}" th:text="${originFeed.feedNm}">카테고리 선택</option>
                <option th:each="feed : ${feeds}"
                        th:value="${feed.feed_id}"
                        th:text="${feed.feedNm}" />
            </select>

            <label for="text">내용</label>
            <textarea th:field="*{text}" class="form-control" id="text"
                      placeholder="내용" style="height: 500px"></textarea>

            <label for="image_id">이미지</label>
            <input type="file" th:field="*{fileSave}" id="image_id" name="fileName">
            <div class="selectImage"><img id="origin" th:src="*{filePath}"/></div>
            <script>

                $(document).ready(function() {
                    var filePath = $("#origin").attr("src");
                    $(".selectImage img").attr("src", filePath).width(500);
                });

                $("#image_id").change(function(){
                    if(this.files && this.files[0]) {
                        var reader = new FileReader;
                        reader.onload = function(data) {
                            $(".selectImage img").attr("src", data.target.result).width(500);
                        }
                        reader.readAsDataURL(this.files[0]);
                    }
                });
            </script>


        </div>

        <!-- 생략 -->
        <input type="hidden" th:field="*{filePath}" />
        <input type="hidden" th:field="*{fileName}" />

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>