<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    #userButton > a{
        text-decoration: none;
        background-color: #0b5ed7;
        border-radius: 5px;
        margin:0%;
        color: black;
        text-align: center;
        font-size: 15px;
        padding: 15px;
    }
</style>
<script>
    window.onload = function() {
        // URL에서 warningMessage 파라미터를 가져옴
        var urlParams = new URLSearchParams(window.location.search);
        var warningMessage = urlParams.get('warningMessage');

        // 경고 메시지가 있을 경우에만 표시
        if (warningMessage) {
            alert(warningMessage);
        }
    }
</script>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>MAKE FEED</h1>

        <div style="text-align : center;">
            <p><img src="images/CatDog.jpg" alt="catdog" width="300"></p>
        </div>

        <p id="userButton" style="text-align-all: center">
            <a th:if="${currentUserId == null}" href="/user/new">회원가입</a>
            <a th:if="${currentUserId == null}" href="/login">로그인</a>
            <a th:if="${currentUserId != null}" href="/logout">로그아웃</a>
        </p>

        <p class="lead"></p>
        <p>
            <a class="btn btn-lg btn-info" href="/board/write">게시물 작성</a>
            <a class="btn btn-lg btn-info" href="/board/list">게시물 목록</a>
        </p>


        <p class="lead"></p>
        <p>
            <a class="btn btn-lg btn-info" href="/feeds">영양 목록</a>
            <a class="btn btn-lg btn-info" href="/users">회원 목록</a>
        </p>

    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>